/* ---------------------------------------------------------------------
    RESET von Standard Browsereinstellungen die je nach Browser variieren
------------------------------------------------------------------------- */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-weight: normal;
	font-size: 16px;
}

a {
	/*links*/
	color: black;
	text-decoration: none;
}

ol, /*ol= ordered lists, ul=unordered lists*/
ul {
	list-style: none;
}

img {
	/* bilder */
	width: 100%;
}

b {
	font-weight: 900;
}

/* --------------------------------
    Einbindung von Schriftdateien
----------------------------------- */

@font-face {
	font-family: Edu Monument;
	src: url("../fonts/EduMonumentGroteskVariable.ttf");
}

@font-face {
	font-family: Bandeins;
	src: url("../fonts/BandeinsStrangeVariableGX.ttf");
}

@font-face {
	font-family: Movement;
	src: url("../fonts/MovementV.ttf");
}

@font-face {
	font-family: Collective Patterns;
	src: url("../fonts/CollectivePatternsVF.ttf");
}

/* ---------------------------------------------------------------------------------------------
    MAIN: Raster/Ausrichtung von Elementen und einbindung des Hintergrunds (magicpattern.design)
------------------------------------------------------------------------------------------------ */
body {
	background-color: #e5e5f7;
	background-image: linear-gradient(#43278f 2px, transparent 2px), linear-gradient(to right, #43278f 2px, #e5e5f7 2px);
	background-size: 8rem 8rem;
}

header {
	display: flex; /* Mehrere Elemente nebeneinander angezeigen. Mehr unter: "how to flexbox". */
	justify-content: space-between; /* Ordnet den content horizontal an. Senkrechte Anordnung kann über "align-items" erreicht werden. */
}

/* Einrücken der Container div's über Flexbox */
main {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

/* --------------
    LINKS
----------------*/

a {
	font-family: Bandeins, Arial, Helvetica, sans-serif; /* Schriftart, siehe wie weiter oben eingebunden. */
}

.link1 {
	/*mit dem . wird eine klasse angesprochen. so beziehen sich die css-eigenschaften ausschließlich auf diese klasse, und nicht alle <a> elemente*/
	position: absolute; /*mit position: absolute; setzt man das element quasi ein layer auf alle anderen, aber innerhalb seines elternelements. hier bestimmt man die position nicht durch margin oder padding, sondern über top, right, left, bottom*/
	top: 11vw; /*vw=viewport width also (hier) 11% der fensterbreite*/
	left: 60vw; /*vw=viewport width also (hier) 60% der fensterbreite*/

	font-size: calc(0.5rem + 6vmin);
	font-weight: 550; /*hiermit setzt man schriften zb bold oder thin. der wert 400 ist regular und 600 ist bold. bei variable fonts kann man auch werte dazwischen setzen, bei schriften die nicht variable sind, ändert sich dann nichts.*/
	color: red; /*color = textfarbe. um den hintergrund zu ändern, muss man background-color verwenden*/
}

.link2 {
	position: absolute; /*mit position: absolute; setzt man das element quasi ein layer auf alle anderen, aber innerhalb seines elternelements. hier bestimmt man die position nicht durch margin oder padding, sondern über top, right, left, bottom*/
	top: 18vw; /*vw=viewport width also (hier) 18% der fensterbreite*/
	left: 78.5vw; /*vw=viewport width also (hier) 78.5% der fensterbreite*/

	font-size: calc(0.5rem + 6vmin);
	font-weight: 550; /*hiermit setzt man schriften zb bold oder thin. der wert 400 ist regular und 600 ist bold. bei variable fonts kann man auch werte dazwischen setzen, bei schriften die nicht variable sind, ändert sich dann nichts.*/
	color: red; /*color = textfarbe. um den hintergrund zu ändern, muss man background-color verwenden*/
}

.link1:hover, /*:hover=wenn-ich-mit-dem-mauszeiger-drüber-fahre, also das, was mit dem element passieren soll, wenn der mauszeiger darüber ist. das ist das einzige css attribut, das die position des mauszeigers ausliest. wenn mann zb on-click-events belegen will muss man javascript benutzen*/
.link2:hover {
	color: #00ffff; /*farben können zb über rgb codes oder hexcodes angegeben werden*/
}

.help {
	font-size: calc(0.5rem + 1vmin);
	text-decoration: underline;
	text-underline-offset: 0.1rem;
	margin-left: 15px;
	/*man kann margin entweder über margin-top, margin-left etc. angeben, oder über margin. margin: 10px; heißt, an allen seiten 10px. margin 10px 5px; heißt oben und unten 10px, und an den seiten 5px. margin: 10px 5px 15px 20px; heißt oben 10px, rechts 5px, unten 15px, links 20px abstand. das ganze geht also im uhrzeigersinn*/
}

.help:hover {
	color: red; /*color = textfarbe. um den hintergrund zu ändern, muss man background-color verwenden*/
	font-style: italic;
}

/* --------------------
    EINZELNE ELEMENTE
----------------------- */
h1 {
	font-family: Bandeins, Arial, Helvetica, sans-serif; /*schriftart*/
	font-size: calc(0.5rem + 8vmin); /*schriftgröße in rem. die größe rem bezieht sich auf das root element. so kann man schriften voneinaner abhängig machen->semantik. standartmäßig ist 1rem=16px, das kann aber im css mit html {font-size: XYpx} */
	color: #66ff14;
	text-shadow: 4px 4px 3px #43268f; /*abstand auf der x-achse in px, abstand auf der y-achse in px, shadow-blur in px*/
	margin: 0 auto; /*man kann margin entweder über margin-top, margin-left etc. angeben, oder über margin. margin: 10px; heißt, an allen seiten 10px. margin 10px 5px; heißt oben und unten 10px, und an den seiten 5px. margin: 10px 5px 15px 20px; heißt oben 10px, rechts 5px, unten 15px, links 20px abstand. das ganze geht also im uhrzeigersinn*/
	padding: 2.5rem 1rem;
}

h3 {
	font-family: Movement, Arial, Helvetica, sans-serif; /*schriftart*/
	font-size: calc(0.5rem + 3vmin); /*schriftgröße in rem. die größe rem bezieht sich auf das root element. so kann man schriften voneinaner abhängig machen->semantik. standartmäßig ist 1rem=16px, das kann aber im css mit html {font-size: XYpx} */
	font-weight: 600; /*hiermit setzt man schriften zb bold oder thin. der wert 400 ist regular und 600 ist bold. bei variable fonts kann man auch werte dazwischen setzen, bei schriften die nicht variable sind, ändert sich dann nichts.*/
	margin-bottom: 0.5rem; /*man kann margin entweder über margin-top, margin-left etc. angeben, oder über margin. margin: 10px; heißt, an allen seiten 10px. margin 10px 5px; heißt oben und unten 10px, und an den seiten 5px. margin: 10px 5px 15px 20px; heißt oben 10px, rechts 5px, unten 15px, links 20px abstand. das ganze geht also im uhrzeigersinn*/
}

div {
	max-width: 70ch;
	backdrop-filter: blur(4px); /* Hintergrund-Filter mit verschiedenen Optionen zur veränderung des Hintergrunds von ELementen. */
	border: 2px solid #43268f; /*border=rand/kontur. solid=durchgehend. es gibt noch dotted, und bestimmt noch ganz viel mehr.*/
	border-radius: 10px; /* Rand-Radius. Ermöglicht runde Ecken. */
	padding: 0.5rem;
	margin: 0 3rem 4rem 3rem; /*man kann margin entweder über margin-top, margin-left etc. angeben, oder über margin. margin: 10px; heißt, an allen seiten 10px. margin 10px 5px; heißt oben und unten 10px, und an den seiten 5px. margin: 10px 5px 15px 20px; heißt oben 10px, rechts 5px, unten 15px, links 20px abstand. das ganze geht also im uhrzeigersinn*/
}

main div:nth-child(2) {
	/*wenn man ein element nicht über eine klasse ansprechen will, kann man sich auch durch die html struktur "navigieren". man kann sich das so vorstellen, als würde man sich durch Ordner im Finder/Explorer durchklicken. wenn mehrere elemente einer Art auswählbar sind, kann man :first-child oder :last-child nutzen, um sie anzusprechen. child + parent sind unter- und übergeordnete elemente*/
	align-self: flex-end;
}

p {
	font-family: Edu Monument, Arial, Helvetica, sans-serif; /*schriftart*/
	max-width: 70ch;
	font-size: calc(0.5rem + 1vmin); /*schriftgröße in rem. die größe rem bezieht sich auf das root element. so kann man schriften voneinaner abhängig machen->semantik. standartmäßig ist 1rem=16px, das kann aber im css mit html {font-size: XYpx} */
	margin-left: 15px; /*man kann margin entweder über margin-top, margin-left etc. angeben, oder über margin. margin: 10px; heißt, an allen seiten 10px. margin 10px 5px; heißt oben und unten 10px, und an den seiten 5px. margin: 10px 5px 15px 20px; heißt oben 10px, rechts 5px, unten 15px, links 20px abstand. das ganze geht also im uhrzeigersinn*/
}
